[package]
name = "logger"
version = "0.1.0"
edition = "2021"

[dependencies]
log = { workspace = true }
colored = { version = "2.1.0" }

[target.'cfg(target_family = "wasm")'.dependencies]
web-sys = { workspace = true, features = ["console"] }
